.no-search-made {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12rem auto;
}

.no-search-made h3 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text-gray);
}

.no-search-made img {
    max-width: 32rem;
    margin-top: 4rem;
}

#bus-routes-page main .no-search-made {
    margin: 4rem auto;
}

@media (max-width: 875px) {
    #bus-routes-page main .no-search-made {
        margin: 1.6rem 0 0 4rem;
    }

    .no-search-made h3 {
        font-size: 1.2rem;
    }

    .no-search-made img {
        max-width: 24rem;
    }
}
