.no-search-made {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3.4rem 0;
}

.no-search-made h3 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text-gray);
}

.no-search-made img {
    max-width: 48rem;
    margin-top: 4rem;
}
