.route-card .card-header .card-title .card-sufix {
    margin-left: 1.2rem;
}

.route-card .card-content p {
    font-size: 1.6rem;
    color: var(--color-text-gray);
    margin-left: 1.4rem;
}

.route-card .card-content p + p {
    margin-top: 1.8rem;
}

.route-card .card-content p span {
    color: var(--color-primary);
    margin-left: 0.8rem;
}
