#stops-page main {
    margin-top: 6rem;
}

@media (max-width: 875px) {
    #stops-page main {
        margin-top: 2rem;
    }

    #stops-page main .no-search-made {
        margin: 8rem 4rem 0 0;
    }
}
