#corridors-page main {
    margin-top: 3rem;
    padding-left: 6rem;
}

#corridors-page main .corridors {
    display: flex;
    max-width: 60rem;
    flex-wrap: wrap;
}

#corridors-page main .corridors button {
    border: 0;
    background: transparent;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-left: 0;
    transition: color 0.2s;
}

#corridors-page main .corridors button:hover {
    color: var(--color-secondary);
}

@media (max-width: 875px) {
    #corridors-page main {
        padding-left: 0;
    }

    #corridors-page main .corridors {
        margin-left: 3rem;
        justify-content: center;
    }

    #corridors-page main .map-view {
        margin-left: 3rem;
    }

    #corridors-page main .loader {
        margin-left: 16rem;
        margin-top: 8rem;
    }
}
