:root {
    font-size: 60%;

    --color-background: #F6F6F6;
    --color-primary: #120C1B;
    --color-secondary: #0B8AB2;
    --color-secondary-soft: rgba(16, 148, 188, 0.315);
    --color-text-white: #E3E1E1;
    --color-text-gray: #786F6F;
    --color-text-confirm: #1CA049;
    --color-card: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.page-content header {
    padding: 3.3rem 0 0 6rem;

}

.page-content header h1 {
    color: var(--color-primary);
    font-size: 2.8rem;
    font-weight: 400;
}

.page-content header h2 {
    margin-top: 0.8rem;
    font-weight: 400;
    color: var(--color-text-gray);
}

.dashboard-content {
    padding-left: 6rem;
    margin-top: -2rem;
}

.page-content {
    margin-left: 15vw;
    width: 100%;
    height: 100%;
}

.search fieldset {
    border: 0;
    width: 100%;
    margin-right: 2rem;
    margin-top: 3.3rem;
}

.search-routes-result {
    margin: 3.4rem 0 1.6rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 94rem;
}

.search-routes-result .route-card,
.arrive-card {
    background-color: var(--color-card);
    width: 100%;
    max-width: 45rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.4rem;
    padding: 1.4rem;
    font-family: Archivo, sans-serif;
    margin-top: 2.6rem;
    cursor: pointer;
    transition: background 0.6s;
}

.search-routes-result .route-card:hover,
.arrive-card:hover {
    background-color: var(--color-background);
}

.search-routes-result .route-card .card-header,
.arrive-card .card-header {
    display: flex;
    margin: 0;
    padding: 0 0 0.8rem 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--color-secondary-soft);
}

.route-card .card-header .card-title,
.arrive-card .card-header .card-title {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1.2rem;
    color: var(--color-primary);
}

.route-card .card-header .card-route-info, .card-info {
    width: 70%;
}

.route-card .card-header .card-route-info span,
.arrive-card .card-info-content span {
    display: block;
    font-size: 1.2rem;
    color: var(--color-text-gray);
}

.route-card .card-header .card-route-info .card-route-info-title,
.arrive-card .card-info-content h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

.route-card .card-content, .arrive-card .card-content {
    margin-top: 1.6rem;
}

.route-card .card-content footer,
.arrive-card .card-content footer {
    margin-top: 2.6rem;
    margin-left: 1.4rem;
}

.route-card .card-content footer span,
.arrive-card .card-content footer {
    font-size: 1.4rem;
    color: var(--color-text-confirm);
}

