#arrives-page .arrive-page-content {
    padding-left: 6rem;
}

#arrives-page .arrive-page-content .arrive-title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 6rem;
}

#arrives-page .arrive-page-content .search-routes-result {
    margin: 0.8rem 0 1.6rem 0;
}

@media (max-width: 875px) {
    #arrives-page .arrive-page-content {
        margin-top: 2rem;
        width: 100%;
    }

    #arrives-page .arrive-page-content .search-routes-result-container {
        margin-left: -6rem;
        padding-left: 3rem;
    }

    #arrives-page .no-search-made {
        margin-right: 6rem;
    }

}
