.arrive-card .card-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrive-card .card-content p {
    font-size: 1.8rem;
    margin: 2.6rem 0 2.6rem 1.6rem;
}

.arrive-card .card-content p span {
    margin-left: 1.2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-secondary);
}

@media (max-width: 875px) {
    .arrive-card .card-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .arrive-card .card-header .card-title {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    .arrive-card .card-header .card-route-info {
        align-self: flex-start;
        margin-left: 0.6rem;
    }

    .arrive-card .card-header .card-title .card-sufix {
        margin-left: 0.4rem;
    }

    .arrive-card .card-content p {
        font-size: 1.2rem;
        margin-left: 0.4rem;
    }
}
