.map-view {
    display: flex;
    align-items: center;
    padding: 2.6rem 0;
}

.leaflet-container {
    width: 90%;
    height: 48rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.4rem;
}

.stop-name {
    font-size: 1.4rem;
    color: var(--color-primary);
    font-family: Poppins, sans-serif;
}

.stop-address {
    font-size: 1.1rem;
    color: var(--color-text-gray);
}

.locations-pop-up {
    padding: 0.2rem auto;
}

.locations-pop-up h3 {
    font-size: 1.2rem;
    color: var(--color-text-gray);
    font-weight: 400;
    font-family: Poppins, sans-serif;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}

.locations-pop-up h3 span {
    margin-left: 0.6rem;
    color: var(--color-secondary);
    font-weight: 700;
}

.locations-pop-up #accessible {
    color: var(--color-text-confirm);
    margin-top: 0.2rem;
    font-weight: 700;
}

.locations-pop-up svg {
    position: relative;
    margin-right: 0.2rem;
}

@media (max-width: 875px) {
    .map-view {
        padding: 1.6 0;
        margin-left: -3rem;
    }

    .leaflet-container {
        width: 95%;
    }

    .locations-pop-up h3 {
        font-size: 1rem;
    }

    .locations-pop-up #accessible {
        font-size: 1rem;
    }
}
